body {
  margin: 0;
  background: #111;
  font-family: sans-serif;
}

/* ESCENA COMPLETA */
#game {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  position: relative;
}

/* Fondo estilo Mario */
#background {
  width: 200%;
  height: 100%;
  background: linear-gradient(#6ec1e4, #5ab75c);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: left 0.1s linear;
}

/* SCORE */
#score {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  color: white;
  z-index: 2;
}

/* PERSONAJE PIXEL */
#player {
  width: 50px;
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 50px;
  background-image: url('player-sprite.png');
  background-size: cover;
  z-index: 1;
}

/* LATA */
#can {
  width: 30px;
  height: 40px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url('can.png');
  background-size: cover;
  z-index: 1;
}

/* MENSAJE FINAL */
#message {
  position: absolute;
  width: 100%;
  top: 40%;
  text-align: center;
  font-size: 36px;
  color: yellow;
  font-weight: bold;
  display: none;
  z-index: 2;
}

/* BOTONES */
.controls {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

button {
  width: 120px;
  height: 60px;
  border-radius: 12px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

#collectBtn { background: limegreen; color: white; }
#jumpBtn { background: dodgerblue; color: white; }
